# Xcode user data
*.xcuserstate
xcuserdata/

# Build products
build/
DerivedData/
.DerivedData/

# macOS
.DS_Store

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
